/* CONTENEDOR DE TEXTO NUESTROS VINOS */

.container-name {
    width: 100%;
    height: 23vh;
    background-color: #f3f3f3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid #b9921d;
}

h1 {
    color: #b9921d;
    font-family: 'Tsukimi Rounded', sans-serif;
    font-weight: 200;
    font-size: 6vw;
}

/* CONTENEDOR GENERAL DE TODAS LAS TARJETAS */

.card-container-general1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 3vw;
    padding-inline-end: 90px;
    padding-inline-start: 90px;
    background-color: #f3f3f3;
}

/* CONTENEDOR DE LA TARJETA */

.card_container1 {
    border-radius: 6px;
    width: 220px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5e7094;
    overflow: hidden;
    margin-bottom: 30px;

}

/* EFECTO TARJETAS */
.hvr-grow1 {
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 2px 3px 20px 1px rgba(55, 75, 164, 0.6);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow1:hover,
.hvr-grow1:focus,
.hvr-grow1:active {
    transform: scale(1.1);
}

/* CONTENEDOR DE LA IMAGEN EN LAS TARJETAS */

.container_image1 {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.img_pages1 {
    height: 100%;
}

/* CONTENEDOR DEL NOMBRE DEL VINO  */

.container_description1 {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 20px;
}

.container_description1 h4 {
    font-size: 19px;
    color: #f3f3f3;
    padding-top: 12px;
}

/* CONTENEDOR DEL PRECIO Y EL BOTÓN DE DETALLE */
.container_details1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    color: #f3f3f3;
}

.container_description1 h4,
.container_details1 p {
    cursor: default;
    font-family: 'Tsukimi Rounded', sans-serif;
    font-weight: 100;
    justify-content: center;
    align-items: center;
}

/* CARACTERISTICAS Y ESTILO DEL BOTÓN */
.button_index1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #5e7094;
    color: #b9921d;
    border: 1px solid #5e7094;
    border-radius: 4px;
    padding: 3px;
    font-size: 18px;
    font-weight: bold;
    height: 40%;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 200;
}

.button_index1:hover {
    background-color: #b9921d;
    border: 1px solid #b9921d;
    color: #5e7094;
    cursor: pointer;
}

/* CONTENEDOR GENERAL DE DETAILS */

#detalles {
    height: auto;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    background: #6b6d703b;
    font-family: 'Poppins', sans-serif;
}


.detalleIzquierda {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloDetalle {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #b9921d;
    border-top: 1px solid #b9921d;
    border-bottom: 1px solid #b9921d;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
}

.personalizada {
    width: 50%;
    height: auto;
}

.galeriaDetalle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-detalle {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-detalle>img {
    max-height: 100%;
    max-width: 100%;
}

.nav-item p {
    font-size: 2rem;
    color: #b9921d;
    font-weight: 400;
    border-bottom: 1px solid #b9921d;
    margin-bottom: 30px;
}

/* alineacion de la tabla de ficha tecnica */
.text-center {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 30px;
    align-items: center;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    text-align: left !important;
}

.button_shop {
    margin-top: 20px;
    background: #b9921d;
    color: #f3f3f3;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
}

.button_shop:hover,
.button_shop:focus {
    background: #5e7094;
    transition: background-color 1s ease-out;
    outline: 0;
}