/* CONTENEDOR DE TEXTO NUESTROS VINOS */

.container-name {
    width: 100%;
    height: 20vh;
    background-color: #f3f3f3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid #b9921d;
}

h1 {
    color: #b9921d;
    font-family: 'Tsukimi Rounded', sans-serif;
    font-weight: 200;
    font-size: 80px;
}

/* CONTENEDOR GENERAL DE TODAS LAS TARJETAS */

.card-container-general1 {
    width: 100%;
    height: auto;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 3vw;
    padding-inline-end: 90px;
    padding-inline-start: 90px;
}

/* CONTENEDOR DE LA TARJETA */

.card_container1 {
    border-radius: 6px;
    width: 220px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5e7094;
    overflow: hidden;
    margin-bottom: 30px;

}

/* EFECTO TARJETAS */
.hvr-grow1 {
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 2px 3px 20px 1px rgba(55, 75, 164, 0.6);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow1:hover,
.hvr-grow1:focus,
.hvr-grow1:active {
    transform: scale(1.1);
}

/* CONTENEDOR DE LA IMAGEN EN LAS TARJETAS */

.container_image1 {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.img_pages1 {
    height: 100%;
}

/* CONTENEDOR DEL NOMBRE DEL VINO  */

.container_description1 {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 20px;
}

.container_description1 h4 {
    font-size: 19px;
    color: #f3f3f3;
    padding-top: 12px;
}

/* CONTENEDOR DEL PRECIO Y EL BOTÓN DE DETALLE */
.container_details1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    color: #f3f3f3;
}

.container_description1 h4,
.container_details1 p {
    cursor: default;
    font-family: 'Tsukimi Rounded', sans-serif;
    font-weight: 100;
    justify-content: center;
    align-items: center;
}

/* CARACTERISTICAS Y ESTILO DEL BOTÓN */
.button_index1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #5e7094;
    color: #b9921d;
    border: 1px solid #5e7094;
    border-radius: 4px;
    padding: 3px;
    font-size: 18px;
    font-weight: bold;
    height: 40%;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 200;
}

.button_index1:hover {
    background-color: #b9921d;
    border: 1px solid #b9921d;
    color: #5e7094;
    cursor: pointer;
}

/* CONTENEDOR GENERAL DE DETAILS */

#detalles{
    width: 100%;
    height: auto;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    background: #6b6d703b;
    
}

.detalles {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    -webkit-box-shadow: -8px -5px 5px -7px rgba(0,0,0,0.55);
-moz-box-shadow: -8px -5px 5px -7px rgba(0,0,0,0.55);
box-shadow: -8px -5px 5px -7px rgba(0,0,0,0.55);
}
.detalleIzquierda{
    height: auto;
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.tituloDetalle{
    font-size: 2rem;
    color: #5e7094;
    text-align:center ;
    width: 80%;
    font-family: 'Tsukimi Rounded', sans-serif;

}
.ft{
    font-size: 1rem;
    color: #5e7094;
    width: 80%;
    font-family: 'Tsukimi Rounded', sans-serif; 
}
.personalizada {
    width: 50%;
    height: auto;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}
.galeriaDetalle{
    width: 100%;
    margin-top: 0cm;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-detalle{
    
    height: 350px;
    width: 40%;
    box-shadow:none;
    border:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-detalle>img{
  
    max-height:100% ;
    max-width: 100%;
    
}

/* alineacion de la tabla de ficha tecnica */
.text-center {
    margin-top: 30px;
    text-align: justify;
    width: 45%;
    
}
