.history{
    width: 100vw;
    height: 100vh;
    /* background-color:  rgb(22, 117, 3) ; */
  }
  
  
  .container-name-history-title {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid #b9921d;
  }
  
  .container-name-history{
    background-color: #f3f3f3;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid #b9921d;
    padding: 30px 60px 40px;
  }
  
  .container-name-history h3 {
    color: #5e7094;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 3vh;
  }
  

  
  